.painel {
    margin-top: 8px;
}

.mensagem {
    display: block;
    padding: 8px 8px 8px 8px;
    min-height: 20px;
    margin-top: 5px;
    font-weight: bold;
}

.erro {
    background-color: coral;
}

.sucesso {
    background-color: lightgreen;
}

/* CSS adaptado de https://www.sanwebe.com/2014/08/css-html-forms-designs */

.form {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form label{
	margin-top: 10px;
	padding: 0px;
	display: block;
	font-weight: bold;
}
.form input[type=text],
.form input[type=date],
.form input[type=datetime],
.form input[type=number],
.form input[type=search],
.form input[type=time],
.form input[type=url],
.form input[type=email],
textarea,
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #BEBEBE;
	padding: 7px;
	margin: 0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
}
.form input[type=text]:focus,
.form input[type=date]:focus,
.form input[type=datetime]:focus,
.form input[type=number]:focus,
.form input[type=search]:focus,
.form input[type=time]:focus,
.form input[type=url]:focus,
.form input[type=email]:focus,
.form textarea:focus,
.form select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form .field-divided{
	width: 49%;
}

.form .field-long{
	width: 100%;
}
.form .field-select{
	width: 100%;
}
.form .field-textarea{
	height: 100px;
}
.form button{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form button:hover {
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form .required{
	color:red;
}

/* fim */
