body {
    font-family: Helvetica;
}

/* CSS adaptado de https://codepen.io/shammadahmed/pen/JOWEGW */

.tabuleiro {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-color: #34495e;
    color: #fff;
    border: 6px solid #2c3e50;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.casa {
    border: 6px solid #2c3e50;
    border-radius: 2px;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
}

/** fim */

.casaFlutuavel:hover {
    cursor: pointer;
    background: #ffceb7;
    color: black;
}

.casaVencedora {
    background: #8080c0;
    color: #fcee8d
}

h1 {
    margin: 25px auto 25px auto;
    text-align: center;
    color: #34495e;
}

.painel {
    margin: 25px auto 0px auto;
    text-align: center;
}

.situacao {
    margin: 0 auto 10px auto;
    color: #34495e;
}

.jogador {
    color: #34495e;
    font-weight: bold;
}

.botao {
    display: inline-block;
    padding: 15px 32px;

    background-color: #34495e;
    border-radius: 4px;

    text-decoration: none;
    font-size: 16px;
    color: white;
  }

.naoSelecionavel {
    user-select: none;
}